body {
    text-align: center;
    line-height: 150%;
    background-image: url(../images/backgrounds/lush-medium.jpg);
    margin-top: 150px;
}

/* Style the header div */
header {
    text-align: center;
    background-color: #fff;
    position: fixed;
    height: 250px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    z-index: 100;
}

/* Style the text inside of the header */
h1.header,
h3.header {
    color: #333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}

h3.header {
    font-size: 50px;
}

/* Adjust position of the instructions div */
div.instruct {
    background-color: transparent;
    width: 85%;
    margin: 0 auto;
    top: 90px;
}

/* Style the text in the instructions div */
h2.instruct {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

/* General styling for main content divs */
div {
    background-color: #333;
    opacity: .9;
    position: relative;
}

/* Position the container that holds the main content */
div.container {
    width: 85%;
    margin: 0 auto;
    top: 115px;
}

/* Position the rows */
div.row {
    background-color: transparent;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

/* Clear floats after the columns */
div.row:after {
    content: "";
    display: table;
    clear: both;
}
/* 
div.column {
    background-color: transparent;
    float: left;
} */

div.column-left {
    width: 25%;
    float: left;
}

div.column-middle {
  width: 49%;
  margin: 0 auto;
  left: 10px;
  right: 10px;
  float: left;
}

div.column-right {
    width: 25%;
    float: right;
}

/* ROW 1 */
/* Style the divs that hold the scoreboard */
div.score {
    left: 0;
}

/* Style the div that holds the word */
div.the-plant {
    width: 100%;
    margin: 0 auto;
}

/* Style the leaf drop graphic */
.lose-a-leaf {
    position: relative;
}

/* ROW 2 */
/* Style the hint div */
div.hint {
    left: 0;
    float: both;
}

div.hint,
div.hint-button,
div.hint-images {
    margin: 10px;
    position: relative;
}

div.hint-img {
    position: absolute;
    top: 0;
    left: 0;
}

/* Style the guessed letters div */
div.guess {
    margin: 10px;
}

/* Style the text */
h1, 
h2,
h3 {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
}

h2 {
    font-family: monospace;
}

p {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

/* Style the endgame screens ("You Win" or "Game Over") that pop up when the user wins or loses */
#winScreen, 
#loseScreen {
    background-color: #222;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.endgame-heading, 
.endgame-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #d2d3c3;
    font-size: 36px;
    margin: 10%;
}

.endgame-heading {
    margin-top: 450px;
    font-family: monospace;
    font-size: 150px;
}

button {
    background-color: #222;
    color: #fff;
    font-family: monospace;
    font-size: 24px;
    border: 2px solid #fff;
    width: 150px;
    padding: 5px;
    margin: 5px;
}

footer {
    background-color: #333;
    opacity: .9;
    border-top: 8px solid #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    z-index: 2;
}

.footer {
    color: #fff;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 35px; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}